.contactContainer {
  background-color: #09264a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 5rem;
  min-height: 402px;
}

.contactWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

/* CONTACT TAGLINE */
.contactText h2 {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 10px;
  margin: 0;
}

.contactText p {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

/* CONTACT FORM */
.formContainer {
  width: 100%;
}

.contactForm {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.contactForm > form {
  width: 100%;
  position: relative;
}

.contactForm input {
  width: 100%;
  margin: 0.75rem 0;
  padding: 1rem;
  border: none;
  font-size: 1rem;
  color: black;
}

.contactTypeBtns > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contactTypeBtns > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 1rem;
  margin-top: 0.75rem;
}

.contactTypeBtns > ul > li > p {
  margin: 0;
}
.contactTypeBtns > ul > li > input {
  border: 0px;
  width: 20px;
  height: 2em;
  margin: 0;
  margin-right: 0.5rem;
  float: left;
}

.error {
  outline: 2px solid #d65151 !important;
}

.errorName {
  color: #d65151;
  position: absolute;
  font-size: 0.5rem;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  top: -0.01rem;
}

.errorNumber {
  color: #d65151;
  position: absolute;
  font-size: 0.5rem;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  top: 4.6rem;
}

.errorEmail {
  color: #d65151;
  position: absolute;
  font-size: 0.5rem;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  top: 9.3rem;
}

.contactSubmitBtn {
  position: absolute;
  bottom: 0rem;
  width: 100%;
}

.contactSubmitBtnInner {
  background-color: #7699b8;
  color: white !important;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 100%;
  height: 3rem;
  border: none;
  font-size: 1rem;
}

.messageSent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 460.8px;
}

.messageSent img {
  width: 13rem;
}

.messageSent p {
  font-size: 1.25rem;
  letter-spacing: 2px;
}

@media only screen and (max-width: 1060px) {
  .contactWrapper {
    flex-direction: column;
    width: fit-content;
  }

  .contactText {
    margin-bottom: 1rem;
  }

  .contactForm {
    width: 100%;
  }

  .errorEmail {
    top: 15.3rem;
  }

  .errorNumber {
    top: 10.6rem;
  }

  .errorName {
    top: 5.99rem;
  }
}

@media only screen and (max-width: 450px) {
  .contactWrapper {
    width: 80%;
  }
}
