.listingsContainer {
  background-color: rgb(255, 255, 255);
  min-height: 25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0 0;
  z-index: -100;
  position: relative;
  padding-bottom: 15rem;
  overflow: hidden;
  flex-wrap: wrap;
}

.listingType {
  font-size: 1.5rem;
  letter-spacing: 5px;
  font-weight: 500;
  color: #001d37;
  flex-basis: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
}

.listings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listings > h3 {
  margin: 0;
}
.propImageContainer {
  height: 15rem;
  width: 27rem;
  margin: 3rem;
  position: relative;
  box-shadow: 0px 0px 10px rgba(18, 18, 27, 0.3);
  transition: background 5s ease;
  /* filter: blur(0); */
}

.propImageContainerTest {
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
  transition: opacity 3s ease-in;
  /* filter: blur(0); */
}

.propInfo {
  background-color: rgba(255, 255, 255, 0.88);
  padding: 1rem;
  width: 75%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.propInfo > p:nth-child(1) {
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.propInfo > p {
  font-weight: 200;
  font-size: 0.9rem;
  margin: 0;
}

#angleDivBeigeContact {
  background-color: #ecf2e9;
  width: 100%;
  height: 50rem;
  margin: 0 auto;
  -webkit-clip-path: polygon(40% 0, 100% 35%, 100% 100%, 0 100%, 0 38%);
  clip-path: polygon(16% 14%, 100% 44%, 100% 100%, 0% 100%, 0 25%);
  position: absolute;
  bottom: -31rem;
  z-index: -1;
}

#angleDivBlueContact {
  background-color: #09264a;
  width: 100%;
  height: 50rem;
  margin: 0 auto;
  -webkit-clip-path: polygon(40% 0, 100% 35%, 100% 100%, 0 100%, 0 38%);
  clip-path: polygon(33% 5%, 100% 28%, 100% 100%, 0 100%, 0 28%);
  position: absolute;
  bottom: -36rem;
  z-index: -1;
}

@media only screen and (min-width: 1325px) {
  .propImage {
    width: 30rem;
    height: 15rem;
  }
}

@media only screen and (max-width: 1060px) {
  .listingsContainer {
    justify-content: space-evenly;
    padding-bottom: 20rem;
  }

  .listings {
    width: 50%;
  }

  .forSale {
    padding-left: 2rem;
  }

  .recentlySold {
    padding-right: 2rem;
  }

  .propImage {
    margin: 3rem 0 0 0;
    width: 80%;
    height: 0;
    padding-bottom: 42%;
  }

  .propInfo {
    padding: 0.5rem;
    bottom: 0;
  }
}

@media only screen and (max-width: 800px) {
  .propInfo {
    width: 100%;
  }
}

@media only screen and (max-width: 630px) {
  .listingsContainer {
    flex-direction: column;
  }

  .forSale {
    padding: 0;
  }

  .recentlySold {
    margin-top: 5rem;
    padding: 0;
  }

  .propImage {
    width: 70%;
  }

  .propInfo {
    width: 60%;
    margin-bottom: 2rem;
  }
}
