.listingsContainer {
  background-color: rgb(255, 255, 255);
  min-height: 25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0 0;
  z-index: 0;
  position: relative;
  padding-bottom: 15rem;
  overflow: hidden;
  flex-wrap: wrap;
}

.listingType {
  font-size: 1.5rem;
  letter-spacing: 5px;
  font-weight: 500;
  color: #001d37;
  flex-basis: 100%;
  width: 100%;
  margin: 0;
  margin-bottom: 2rem;
  text-align: center;
}

.listings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listings > h3 {
  margin: 0;
}
.propImageContainer {
  height: 20rem;
  width: 33rem;
  margin: 3rem;
  position: relative;
  box-shadow: 0px 0px 10px rgba(18, 18, 27, 0.3);
  transition: background 5s ease;
}

.propImageContainerTest {
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
  transition: opacity 3s ease-in;
  filter: blur(0);
  image-rendering: crisp-edges;
}

.propInfo {
  background-color: rgba(255, 255, 255, 0.88);
  color: #0a264a;
  padding: 0.25rem 1rem;
  width: 75%;
  position: absolute;
  bottom: 2.5rem;
  right: 0;
}

.propInfo span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.propInfo span > div {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-left: 0.25rem;
}

.propInfo span > div > p {
  margin: 0;
  padding-left: 0.5rem;
}

.propInfo > p:nth-child(1) {
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 1.15rem;
}

.propInfo > p {
  font-weight: 200;
  font-size: 0.9rem;
  margin: 0;
}

#angleDivBeigeContact {
  background-color: #ecf2e9;
  width: 100%;
  height: 50rem;
  margin: 0 auto;
  -webkit-clip-path: polygon(40% 0, 100% 35%, 100% 100%, 0 100%, 0 38%);
  clip-path: polygon(16% 14%, 100% 44%, 100% 100%, 0% 100%, 0 25%);
  position: absolute;
  bottom: -31rem;
  z-index: 0;
}

#angleDivBlueContact {
  background-color: #09264a;
  width: 100%;
  height: 50rem;
  margin: 0 auto;
  -webkit-clip-path: polygon(40% 0, 100% 35%, 100% 100%, 0 100%, 0 38%);
  clip-path: polygon(33% 5%, 100% 28%, 100% 100%, 0 100%, 0 28%);
  position: absolute;
  bottom: -36rem;
  z-index: 0;
}

@media only screen and (max-width: 1440px) {
  .propImageContainer {
    height: 14rem;
    width: 27rem;
  }

  .propInfo {
    bottom: 0;
  }
}

@media only screen and (max-width: 1115px) {
  .listingsContainer {
    justify-content: space-evenly;
    padding-bottom: 20rem;
  }

  .listings {
    width: 50%;
  }

  .forSale {
    padding-left: 2rem;
  }

  .recentlySold {
    padding-right: 2rem;
  }

  .propImageContainer {
    margin: 3rem 0 0 0;
    width: 80%;
    height: 0;
    padding-bottom: 42%;
  }

  .propInfo {
    padding: 0.5rem;
    bottom: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 880px) {
  .listingsContainer {
    flex-direction: column;
  }

  .forSale {
    padding: 0;
  }

  .recentlySold {
    padding: 0;
  }

  .propImageContainer {
    margin: 3rem 0 0 0;
    width: 100%;
    height: 0;
    padding-bottom: 55%;
  }
}

@media only screen and (max-width: 880px) {
  .listings {
    width: 100%;
  }
  .propImageContainer {
    margin: 3rem 0 0 0;
    width: 75%;
    height: 0;
    padding-bottom: 42%;
  }

  .propInfo > p:nth-child(1) {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  .propInfo > span {
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 575px) {
  .listings {
    width: 100%;
  }
  .propImageContainer {
    margin: 3rem 0 0 0;
    width: 75%;
    height: 0;
    padding-bottom: 55%;
  }

  .propInfo > p:nth-child(1) {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  .propInfo > span {
    display: none;
  }
}
@media only screen and (max-width: 675px) {
  #angleDivBlueContact {
    -webkit-clip-path: polygon(34% 5%, 100% 20%, 100% 90%, 0 100%, 0 18%);
    clip-path: polygon(34% 5%, 100% 20%, 100% 90%, 0 100%, 0 18%);
    bottom: -38rem;
  }

  #angleDivBeigeContact {
    -webkit-clip-path: polygon(16% 19%, 100% 44%, 100% 100%, 0% 100%, 0 25%);
    clip-path: polygon(16% 19%, 100% 44%, 100% 100%, 0% 100%, 0 25%);
    bottom: -31rem;
  }
}

@media only screen and (max-width: 450px) {
  #angleDivBlueContact {
    -webkit-clip-path: polygon(34% 9%, 100% 20%, 100% 87%, 0 100%, 0 18%);
    clip-path: polygon(34% 9%, 100% 20%, 100% 87%, 0 100%, 0 18%);
  }

  #angleDivBeigeContact {
    -webkit-clip-path: polygon(17% 23%, 101% 44%, 104% 100%, 0% 100%, 0 27%);
    clip-path: polygon(17% 23%, 101% 44%, 104% 100%, 0% 100%, 0 27%);
  }
}
