.listingsContainer {
  background-color: rgb(255, 255, 255);
  min-height: 25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.listings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listings > h3 {
  margin: 0;
}

.propImage {
  height: 15rem;
  width: 27rem;
  margin: 3rem;
  position: relative;
  box-shadow: 0px 0px 10px rgba(18, 18, 27, 0.3);
}

#prop1 {
  background: url("/images/prop1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#prop2 {
  background: url("/images/prop2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#prop3 {
  background: url("/images/prop3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#prop4 {
  background: url("/images/prop4.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.propInfo {
  background-color: rgba(255, 255, 255, 0.88);
  width: 75%;
  position: absolute;
  bottom: 1rem;
  right: 0;
}

.propInfo h3,
p {
  margin: 0;
}
