.testMainContainer {
  background-color: white;
  min-height: 38rem;
  color: #09264a;
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: relative;
  padding-bottom: 16rem;
}

.testContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  width: 50%;
}

.stars > img {
  width: 1.25rem;
  margin: 0 0.5rem;
}

.testContainer {
  font-size: 1.25rem;
  letter-spacing: 1px;
}

.transitionReview > h4 {
  margin: 0;
}

.transitionReview > p {
  margin: 1rem 0 1rem 0;
}

.quoteBox {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.25rem;
  position: relative;
}

.quoteBox > a > img {
  width: 4rem;
}

.testContainer::before {
  content: "";
  background-color: #09264a;
  width: 115%;
  height: 4px;
  position: absolute;
  top: 3rem;
}

.review-enter {
  opacity: 0;
  z-index: 1;
  transform: translate(0, -10px);
}

.review-enter.review-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 200ms ease-in 200ms;
}

.review-exit {
  opacity: 1;
  transform: translate(0, 0);
}

.review-exit.review-exit-active {
  opacity: 0;
  transform: translate(0, 10px);
  transition: all 200ms ease-in;
}

.transitionContainer {
  position: relative;
  width: 100%;
}

.transitionReview {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1300px) {
  .testMainContainer {
    min-height: 40rem;
  }
}

@media only screen and (max-width: 700px) {
  .testMainContainer {
    min-height: 50rem;
    padding-bottom: 10rem;
  }

  .testContainer {
    font-size: 1.5rem;
  }

  .testContainer::before {
    width: 150%;
  }

  .transitionContainer {
    width: 125%;
  }

  .transitionReview {
    width: 150%;
  }
}

@media only screen and (max-width: 400px) {
  .testMainContainer {
    min-height: 55rem;
  }

  .testContainer {
    font-size: 1.5rem;
  }

  .testContainer::before {
    width: 170%;
  }

  .transitionContainer {
    width: 175%;
  }
}

@media only screen and (max-width: 320px) {
  .testMainContainer {
    min-height: 60rem;
  }

  .testContainer {
    font-size: 1.5rem;
  }

  .testContainer::before {
    width: 170%;
  }

  .transitionContainer {
    width: 175%;
  }
}
